<h2>Answers:</h2>
{{#each sortedAnswers as |answer|}}
  <div class="answer">
    <h3>{{answer.userName}} says:</h3>
    <h3>{{answer.comment}}</h3>
    <h4>Rating: {{answer.rating}}</h4>
    <h4>Submitted: {{answer.date}}</h4>
    <button class="btn-primary" {{action 'upvoteAnswer' answer}}>Upvote</button>
    <button class="btn-danger" {{action 'downvoteAnswer' answer}}>Downvote</button>
    <button class="btn-default" {{action 'deleteAnswer' answer}}>Delete this Answer</button>
    <div class="border"></div>
  </div>
{{/each}}
