{{#each sortedQuestions as |question|}}
  <div class="question">
    <h3 class="question-link">{{question-popularity question}} {{#link-to 'question' question.id}}{{question.content}}{{/link-to}}</h3>
    <h4>By: {{question.author}}</h4>
    {{#if isContentShowing}}
      <button {{action 'addToFavorites' question}}>Add to Favorites</button>
      <h4{{action 'contentHide'}}>Notes: {{question.notes}}</h4>
      <h5{{action 'contentHide'}}>Submitted on: {{question.date}}</h5>
    {{else}}
      <button class="btn-default btn-success" {{action 'contentShow' question}}>Show Notes</button>
    {{/if}}
  </div>
{{/each}}
